.projects-wrapper{
    width: 100vw;
    height: auto; 
}

.project{
    display: flex;
    flex-direction: column;
    margin-right: 5rem;
    padding: 20px;
    border-bottom: 1px solid black;
}

.project a{
    color:gray;
}

.project a:hover{
    color:rgb(230, 57, 72)
    
}

.title-row{
    display: flex;
    flex-direction: row;
}

.title-row .title{
    order: 1;
    padding-right: 3rem;
    font-size: 2rem;
}

.title-row .project-link {
    order: 2;
}

.overview{
    width: 45%;
    text-align: justify;
    font-size: 1.5rem;
}

.project img{
    border: 2px solid black;
}

.project-shots{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
}

.mobile img{
    width: 20rem;
    margin-right: 2rem;
}

.desktop img{
    width: 55rem;
}

.project-shots img{
    border:1px solid black;
    border-radius: 15px;
}

.project-compact {
    border-bottom: none;
}


@media only screen and (max-width:40em){

.project{
    padding: 10px;
}

.title-row{
    display: flex;
    flex-direction: column;
}

.title-row .title{
    order: 1;
    padding-bottom: 1rem;
    font-size: 2.5rem;
}

.project a{
    color:black;
    font-size: 1.5rem;
}
    
.mobile img{
    width: 15rem;
    margin-right: 2rem;
    background-color: tomato;
}

.desktop img{
    width: 42rem;
}

.overview{
    width: 100%;
    text-align: justify;
    font-size: 1.5rem;
}




.project-shots{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.mobile img{
    width: 25rem;
    margin: 1rem;
}

.desktop img{
    display:none;
}

.project-shots img{
    border:1px solid black;
    border-radius: 15px;
}

.project-compact {
    border-bottom: none;
}



}
