/* WRAPS HEADER */
.nav {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    top: 0;
    left: 0;
}

/* FLEXBOX ON MAIN PAGE - WRAPS LOGO + MENU ICON + SIDEBAR */
.header {
    display: flex;
    width: 100%;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
}

/* LOGO */
.header .title{
    max-width: 230px;
    margin-left: auto;
    margin-right: -40px;
}

/* PLUS  */
.menu_icon{
    font-size: 40px;
    color: rgb(235, 71, 13);
    margin-left: auto;
    margin-right: 15px;
}
