/* WRAPS HEADER */
.header-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

/* FLEXBOX ON MAIN PAGE - WRAPS LOGO + MENU ICON + SIDEBAR */
.header-main {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 3rem 0rem;
}

/* LOGO */
.header .title {
  max-width: 11rem;
}

/* Small screen max-width 600px */
@media only screen and (max-width: 600px) {
  /* LOGO */
  .header .title {
    max-width: 8rem;
  }
}
