/* MAIN CONTAINER */
.home-container {
  width: 100%;
}

/* FLEX CONTAINER - ROWS*/
.home-main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding: 3rem 3rem;
  border-top: 1px solid black;
  gap: 10%;
}

@media (min-width:600px) {
  .home-main {
      flex-direction: row;
  }
} 

/* LEFT SIDE */
.left-side {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}

@media (min-width:600px) {
  .left-side {
      width: 40%;
  }

  .right-side {
    width: 60%;
  }
} 


.image-placeholder img {
  width: 16rem;
  border: 20px solid plum;
}


/* RIGHT SIDE - FLEX CONTAINER*/
.right-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}



.right-side .summary {
  font-size: 1rem;
  line-height: 1.1;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
}

.right-side .skills {
  display: flex;
  flex-direction: column;
  line-height: 1.5;
  padding: 0.5rem;
}

/* COLUMNS WHEN SMALl, ROWS WHEN LARGE */
@media (min-width:600px) {
  .right-side .skills  {
      flex-direction: row;
  }
} 

.right-side .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

/* BUTTON */
.right-side a {
  background-color: white;
  color: black;
  border-width: 1px;
  border-style: solid;
  padding: 1rem 2rem;
  transition: 0.2s background-color linear, 0.2s color linear;
  font-size: .7rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}

.right-side a:hover {
  color: #fff;
  background-color: #161515;
}

.header1, .header2{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.header1 h2,
.header2 h2{
  font-family: "Spline Sans", sans-serif;
  text-transform: uppercase;

}


