/* WRAPPER */
.nav-menu {
    font-family: 'Lora', serif;
    font-size: 25px;
    display: block;
    height: 100%;
    background-color: rgb(191, 186, 243);
    color: rgb(1,0,0);
    letter-spacing: .14em;
text-transform: uppercase;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    transition: height .5s ease;
    width: 50vw;
    z-index: 1400;
}

/* FLEX */
.wrapper {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
}

.sidebar_list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: salmon;
}

.sidebar_list .item {
    list-style-type: none;
    padding: 30px;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    margin-top: 15px;
    text-align: center;
}

.sidebar_list .item  a:hover {
    color: rgba(29,29,29,.6);
}

.sidebar .circle{
  
    width: 40%;
    border: 1px solid black;
    border-radius:50px;
}

.hide {
    display: none;
} 
