/* FLEXBOX - COLUMN */
/* FIRST ROW: hi there + close */
/* SECOND ROW: toodles */
/* MAIN: menu */
/* LAST: logo *

/* WRAPPER ON HEADER.JS WRAPPING SIDEBAR */
.sidebar_wrapper {
    font-family: 'Lora', serif;
    font-size: 20px;
    display: block;
    height: 100vh;
    background-color: rgb(194, 216, 203);
    color: rgb(1,0,0);
    letter-spacing: .3em;
    text-transform: uppercase;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    overflow: scroll;

}
/* FLEX CONTAINER */ 
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FLEX - first row: hi there + close  */
.first_row {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
    justify-content: space-between;
}

.first_row .hi{
    width: 15%;
    margin-left: 10px;
    padding: 20px;
}

.first_row .close{
    font-size: 30px;
    margin-left: auto;
    margin-right: 15px;
    cursor: pointer;
}

.first_row .close:hover {
    color: rgb(235, 71, 13);
}
/* FLEX - MAIN MENU  */
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    padding-bottom: 5rem;
}

.main .item {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 5vw 5vw;
    cursor: pointer;
}

.main .item:hover {
    color: rgb(235, 71, 13);
}

/* FLEX - last row: icon + toodles  */
.last {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.last .jp {
    max-width: 15%;
    height: auto;
    text-align: center;
    padding-left: 30px;
}

.last .toodles {
    width: 18%;
    margin-left: 10px;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.hide {
    display: none;
} 
