.writing-wrapper {
  line-height: 1.6;
  margin: 2rem;
  animation: transitionIn 0.75s;
}

.clips {
  font-family: "Lora", serif;
}

.clips a {
  color: black;
}

.clips a:hover {
  color: rgb(224, 133, 236);
}
