body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .03em;
  line-height: 1.5em;
  color: #231f20;
  font-family: 'Be Vietnam Pro', sans-serif;
  height: 100vh;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;   
  justify-content: flex-start; 
  min-height: 100vh;
}

.header{
  width: 100vw;
  order: -1;
}

.main{
  display: flex;
  flex: 1;
}

.sidebar{
  order: 1;
  flex: 1;

}
.footer{
  width: 100vw;
  flex: 1;
}

.title {
  color: rgb(18, 26, 92);
  font-size: 1rem;
  text-transform: uppercase;
  font-family: 'OUTFIT', serif;
}

.text{
  font-size: 1.2rem;
  width: 90vw;
}