body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  letter-spacing: 0.03em;
  line-height: 1.5em;
  color: #231f20;
  font-family: "Be Vietnam Pro", sans-serif;
  overflow-x: hidden;
}

.app {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  min-height: 100vh;
}

.header {
  width: 100vw;
  order: -1;
}

.main {
  display: flex;
  flex: 1;
  min-height: 100vh;
}

.footer {
  width: 100vw;
  order: 2;
}

.title {
  color: rgb(18, 26, 92);
  font-size: 2rem;
  text-transform: uppercase;
  font-family: "outfit", serif;
  padding-left: 1rem;
}

.text {
  font-size: 1.8rem;
  width: 85vw;
  padding-left: 1rem;
}

/* Small screen max-width 600px */
@media only screen and (max-width: 600px) {
  .text {
    font-size: 1.2rem;
  }
}
