body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  font-weight: 200;
  font-style: normal;
  font-size: 12px;
  letter-spacing: .03em;
  line-height: 1.5em;
  color: #231f20;
  font-family: 'Be Vietnam Pro', sans-serif;
  height: 100vh;
}

.app{
  flex-direction: row;
  flex-wrap: wrap;    
}

.header{
  width: 100vw;
}

.main{
  flex: 2;
  order: 2;
  min-height: 80vh;
}

.main .sidebar{
  order: 1;
  flex: 1;

}
.footer{
  width: 100vw;
  flex: 1;
}
